.modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    width: 350px;
}

.edit_grade_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 350px;
}

.confirmation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 300px;
}

.modal_form_name {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
}

.edit_grade {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 30px 0;
}

.edit_grade span {
    margin-right: 10px;
    font-size: 24px;
}

.edit_grade input {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px 6px;
    font-size: 16px;
    outline: none;
    margin-right: 20px;
}

.confirmation_modal_text {
    text-align: center;
    width: 80%;
    font-size: 22px;
    padding: 0 20px;
    margin: 20px 0;
}

.confirmation_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.confirm_button, .cancel_button {
    width: 100px;
    height: 45px;
}

.confirm_button {
    margin-right: 30px;
}

.cancel_button {
    background-color: gray;
}
