.table_container {
    width: 60%;
}

.table_name {
    font-size: 30px;
    margin-bottom:35px;
    margin-left: 40px;
}

.table_row {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 60px;
}