.student_container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row_subjects_number {
    width: 80px;
    text-align: center;
    font-size: 24px;
}

.row_subject_name {
    display: flex;
    width: 80%;
}

.row_subject_name span {
    font-size: 24px;
    margin-left: 10px;
}

.row_grade {
    width: 15%;
    font-size: 24px;
    text-align: center;
}