.students_container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table_container {
    width: 60%;
}

.table_name {
    font-size: 30px;
    margin-bottom:35px;
    margin-left: 40px;
}

.table_row {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 60px;
}

.row_number {
    width: 10%;
    text-align: center;
    font-size: 24px;
}

.row_student_name {
    width: 80%;
}

.row_student_name a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.row_student_name a:hover {
    cursor: pointer;
    color: blue;
}

.row_delete_icon {
    width: 10%;
    text-align: center;
}

.delete_icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.add_student_button {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
    width: 20%;
    height: 60px;
    font-size: 16px;
    margin: 30px auto 50px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.add_student_button span {
    margin-left: 8px;
    font-size: 20px;
}

.modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    width: 350px;
}

.modal_form_name {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;

}
